<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tec1010_privacyPolicy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,19}</string>
                <key>spriteSourceSize</key>
                <string>{102,19}</string>
                <key>textureRect</key>
                <string>{{568,2},{102,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tec1010_privacyPolicy_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{525,197}</string>
                <key>spriteSourceSize</key>
                <string>{557,211}</string>
                <key>textureRect</key>
                <string>{{2,422},{525,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tec1010_privacyPolicy_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{568,23},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tec1010_privacyPolicy_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{590,23},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tec1010_privacyPolicy_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,36}</string>
                <key>spriteSourceSize</key>
                <string>{148,36}</string>
                <key>textureRect</key>
                <string>{{529,422},{148,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tec1010_privacyPolicy_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{564,418}</string>
                <key>spriteSourceSize</key>
                <string>{574,428}</string>
                <key>textureRect</key>
                <string>{{2,2},{564,418}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tec1010_menuLayer.png</string>
            <key>size</key>
            <string>{679,621}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:905ad13d5fbe7a0807d40d463339b1d9:d19a887318b8b2769f7eccdaae26e1ee:c851d8ecc1a84731ab5eae208fb2074e$</string>
            <key>textureFileName</key>
            <string>tec1010_menuLayer.png</string>
        </dict>
    </dict>
</plist>
