<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FB_btn_anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{416,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,110}}</string>
                <key>sourceSize</key>
                <string>{416,110}</string>
            </dict>
            <key>FB_guangxiaokuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,370},{191,191}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{191,191}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>adchoices_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,563},{148,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,38}}</string>
                <key>sourceSize</key>
                <string>{148,38}</string>
            </dict>
            <key>ads_adjiaobiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,680},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>ads_adjiaobiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{148,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,38}}</string>
                <key>sourceSize</key>
                <string>{148,38}</string>
            </dict>
            <key>ads_adjiaobiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,563},{148,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,38}}</string>
                <key>sourceSize</key>
                <string>{148,38}</string>
            </dict>
            <key>kongtuceng.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,2},{1,1}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>pingixing_light_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,603},{132,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,75}}</string>
                <key>sourceSize</key>
                <string>{132,75}</string>
            </dict>
            <key>pingxing_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,506},{93,93}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{93,93}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>pingxing_btn_close_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,411},{93,93}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{93,93}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>pingxing_btn_good.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{435,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{435,126}}</string>
                <key>sourceSize</key>
                <string>{479,126}</string>
            </dict>
            <key>pingxing_btn_good_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{473,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{473,126}}</string>
                <key>sourceSize</key>
                <string>{479,126}</string>
            </dict>
            <key>pingxing_light_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,603},{72,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,36}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>pingxing_light_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{198,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,76}}</string>
                <key>sourceSize</key>
                <string>{198,76}</string>
            </dict>
            <key>pingxing_light_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,280},{129,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,77}}</string>
                <key>sourceSize</key>
                <string>{129,77}</string>
            </dict>
            <key>pingxing_xingxing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{150,170}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{150,170}}</string>
                <key>sourceSize</key>
                <string>{164,178}</string>
            </dict>
            <key>pingxing_xingxing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,601},{132,143}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{132,143}}</string>
                <key>sourceSize</key>
                <string>{140,155}</string>
            </dict>
            <key>pingxing_xingxing_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{117,121}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{117,121}}</string>
                <key>sourceSize</key>
                <string>{125,129}</string>
            </dict>
            <key>rectangula_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,2},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>sponsored_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,130},{148,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,38}}</string>
                <key>sourceSize</key>
                <string>{148,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pAds.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:121895270b603eb5fc0d478d587e4424:1/1$</string>
            <key>textureFileName</key>
            <string>pAds.png</string>
        </dict>
    </dict>
</plist>
