<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0orth1.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,168},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>0orth2.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,92},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>0orth3.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,482},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>0orth4.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,330},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>0orth5.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,406},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>0orth6.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,214},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>0orth7.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,214},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>0orthg.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,330},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>btnClose_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,138},{72,50}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{72,50}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>btnClose_shezhi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,670},{76,74}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{76,74}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>btnEffectOff_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,888},{233,123}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{233,123}}</string>
                <key>sourceSize</key>
                <string>{273,123}</string>
            </dict>
            <key>btnEffectOff_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,653},{267,123}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{267,123}}</string>
                <key>sourceSize</key>
                <string>{273,123}</string>
            </dict>
            <key>btnEffect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,653},{233,123}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{233,123}}</string>
                <key>sourceSize</key>
                <string>{273,123}</string>
            </dict>
            <key>btnEffect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,653},{267,123}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{267,123}}</string>
                <key>sourceSize</key>
                <string>{273,123}</string>
            </dict>
            <key>caozuoqu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{854,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{854,88}}</string>
                <key>sourceSize</key>
                <string>{854,88}</string>
            </dict>
            <key>dengguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,82},{569,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{569,157}}</string>
                <key>sourceSize</key>
                <string>{569,157}</string>
            </dict>
            <key>efx_faguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,458},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{74,74}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>efx_fangkuai.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,888},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>efx_xingguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,888},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>fenshufaguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,914},{166,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,108}}</string>
                <key>sourceSize</key>
                <string>{166,108}</string>
            </dict>
            <key>guangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,653},{232,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,102}}</string>
                <key>sourceSize</key>
                <string>{232,102}</string>
            </dict>
            <key>guangquan_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{173,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,70}}</string>
                <key>sourceSize</key>
                <string>{173,70}</string>
            </dict>
            <key>guangxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,993},{191,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,25}}</string>
                <key>sourceSize</key>
                <string>{191,25}</string>
            </dict>
            <key>guangxian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,888},{110,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,20}}</string>
                <key>sourceSize</key>
                <string>{110,22}</string>
            </dict>
            <key>guangxiao_xingguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,92},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>kongtuceng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,2},{1,1}}</string>
                <key>offset</key>
                <string>{-42.5,42.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>orthHint.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,591},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>orthShadow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,420},{72,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,36}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>orthShadow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,330},{88,88}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,30},{88,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pukuai.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,887},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>resplay_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,653},{233,123}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{233,123}}</string>
                <key>sourceSize</key>
                <string>{273,123}</string>
            </dict>
            <key>resplay_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,653},{267,123}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{267,123}}</string>
                <key>sourceSize</key>
                <string>{273,123}</string>
            </dict>
            <key>shezhi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,746},{69,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,75}}</string>
                <key>sourceSize</key>
                <string>{69,75}</string>
            </dict>
            <key>shezhi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,922},{69,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,75}}</string>
                <key>sourceSize</key>
                <string>{69,75}</string>
            </dict>
            <key>shezhi_tubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,591},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,62}</string>
            </dict>
            <key>video_boli.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,591},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{77,77}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>video_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,478},{111,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,77}}</string>
                <key>sourceSize</key>
                <string>{111,77}</string>
            </dict>
            <key>video_btn_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,591},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>video_btn_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,653},{63,67}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{63,67}}</string>
                <key>sourceSize</key>
                <string>{67,71}</string>
            </dict>
            <key>video_btn_refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,365},{111,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,77}}</string>
                <key>sourceSize</key>
                <string>{111,77}</string>
            </dict>
            <key>video_btn_refresh_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,252},{111,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,77}}</string>
                <key>sourceSize</key>
                <string>{111,77}</string>
            </dict>
            <key>video_btn_video.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,591},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>video_btn_video_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{161,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,78}}</string>
                <key>sourceSize</key>
                <string>{161,78}</string>
            </dict>
            <key>video_btn_video_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,212},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>video_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,922},{100,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,105}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>video_dongge.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,866},{33,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,13}}</string>
                <key>sourceSize</key>
                <string>{33,13}</string>
            </dict>
            <key>video_faguangshuijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,138},{101,119}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{101,119}}</string>
                <key>sourceSize</key>
                <string>{111,133}</string>
            </dict>
            <key>video_hongban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,653},{338,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{338,70}}</string>
                <key>sourceSize</key>
                <string>{348,80}</string>
            </dict>
            <key>video_lanban.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,653},{337,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{337,70}}</string>
                <key>sourceSize</key>
                <string>{347,80}</string>
            </dict>
            <key>video_shuijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,817},{47,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,75}}</string>
                <key>sourceSize</key>
                <string>{47,75}</string>
            </dict>
            <key>video_shuijing_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,718},{151,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,46}}</string>
                <key>sourceSize</key>
                <string>{151,46}</string>
            </dict>
            <key>video_shuijing_guangxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,866},{12,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,38}}</string>
                <key>sourceSize</key>
                <string>{12,38}</string>
            </dict>
            <key>video_shuijingdui.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,922},{90,67}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,67}}</string>
                <key>sourceSize</key>
                <string>{94,71}</string>
            </dict>
            <key>video_warning.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,92},{189,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,44}}</string>
                <key>sourceSize</key>
                <string>{189,44}</string>
            </dict>
            <key>video_xunhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,174},{76,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{76,78}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>video_xunhuan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,963},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>video_yuanxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,922},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>zheban_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{89,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,42}}</string>
                <key>sourceSize</key>
                <string>{89,42}</string>
            </dict>
            <key>zheban_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,922},{94,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,42}}</string>
                <key>sourceSize</key>
                <string>{94,42}</string>
            </dict>
            <key>zhengdongguangxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,421},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>zhengdongguangxiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,888},{16,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,10}}</string>
                <key>sourceSize</key>
                <string>{16,10}</string>
            </dict>
            <key>zhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,241},{87,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{87,107}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>zhi_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,92},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{80,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>zhuangshi_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,591},{56,56}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{64,56}</string>
            </dict>
            <key>zhuangshi_shezhi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,591},{42,56}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,56}}</string>
                <key>sourceSize</key>
                <string>{64,56}</string>
            </dict>
            <key>zhuangshi_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,993},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pGame.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14d39551e1e7eff9592e6c49447718e1:1/1$</string>
            <key>textureFileName</key>
            <string>pGame.png</string>
        </dict>
    </dict>
</plist>
