<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CONTINUE_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{283,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,58}}</string>
                <key>sourceSize</key>
                <string>{283,58}</string>
            </dict>
            <key>CONTINUE_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{283,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,58}}</string>
                <key>sourceSize</key>
                <string>{283,58}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{96,96}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{96,96}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>btn_play2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,434},{233,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{233,118}}</string>
                <key>sourceSize</key>
                <string>{277,118}</string>
            </dict>
            <key>btn_play2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,194},{271,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{271,118}}</string>
                <key>sourceSize</key>
                <string>{277,118}</string>
            </dict>
            <key>btn_playvideo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,66},{435,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{435,126}}</string>
                <key>sourceSize</key>
                <string>{479,126}</string>
            </dict>
            <key>btn_playvideo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{473,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{473,126}}</string>
                <key>sourceSize</key>
                <string>{479,126}</string>
            </dict>
            <key>btn_video_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,314},{233,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{233,118}}</string>
                <key>sourceSize</key>
                <string>{277,118}</string>
            </dict>
            <key>btn_video_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{271,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{271,118}}</string>
                <key>sourceSize</key>
                <string>{277,118}</string>
            </dict>
            <key>btn_video_huise.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,247},{233,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{233,118}}</string>
                <key>sourceSize</key>
                <string>{277,118}</string>
            </dict>
            <key>continue2 .png</key>
            <dict>
                <key>frame</key>
                <string>{{477,2},{441,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{441,62}}</string>
                <key>sourceSize</key>
                <string>{441,62}</string>
            </dict>
            <key>continue_bianliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,275},{193,60}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,1},{193,60}}</string>
                <key>sourceSize</key>
                <string>{441,62}</string>
            </dict>
            <key>faguangshuzi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,194},{143,191}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{143,191}}</string>
                <key>sourceSize</key>
                <string>{149,197}</string>
            </dict>
            <key>faguangshuzi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,387},{111,185}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{111,185}}</string>
                <key>sourceSize</key>
                <string>{149,197}</string>
            </dict>
            <key>faguangshuzi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,537},{139,191}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{139,191}}</string>
                <key>sourceSize</key>
                <string>{149,197}</string>
            </dict>
            <key>faguangshuzi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,500},{141,191}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{141,191}}</string>
                <key>sourceSize</key>
                <string>{149,197}</string>
            </dict>
            <key>faguangshuzi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,130},{143,187}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{143,187}}</string>
                <key>sourceSize</key>
                <string>{149,197}</string>
            </dict>
            <key>faguangshuzi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,337},{141,191}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{141,191}}</string>
                <key>sourceSize</key>
                <string>{149,197}</string>
            </dict>
            <key>shuzi_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,370},{49,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,94}}</string>
                <key>sourceSize</key>
                <string>{49,96}</string>
            </dict>
            <key>shuzi_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{49,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{49,94}}</string>
                <key>sourceSize</key>
                <string>{49,96}</string>
            </dict>
            <key>shuzi_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,578},{22,94}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{22,94}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>shuzi_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,482},{22,94}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{22,94}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>shuzi_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,466},{48,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,94}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>shuzi_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,421},{48,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,94}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>shuzi_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,421},{48,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,94}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>shuzi_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,370},{48,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,94}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>shuzi_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,482},{53,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,94}}</string>
                <key>sourceSize</key>
                <string>{53,96}</string>
            </dict>
            <key>shuzi_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,192},{53,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{53,94}}</string>
                <key>sourceSize</key>
                <string>{53,96}</string>
            </dict>
            <key>shuzi_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,471},{47,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,94}}</string>
                <key>sourceSize</key>
                <string>{47,96}</string>
            </dict>
            <key>shuzi_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{47,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{47,94}}</string>
                <key>sourceSize</key>
                <string>{47,96}</string>
            </dict>
            <key>zhuangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,100},{103,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,90}}</string>
                <key>sourceSize</key>
                <string>{103,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pRelive.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7269093f611cb9de30ac55f31abed696:1/1$</string>
            <key>textureFileName</key>
            <string>pRelive.png</string>
        </dict>
    </dict>
</plist>
